{
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "experimentalTernaries": true,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
