---
import SectionLink from '@/components/section-link.astro';
---

<section id='about-me' class='full-width bg-slate-100'>
  <div class='slide-up space-y-5'>
    <h2 class='text-2xl font-bold'>
      <SectionLink sectionId='about-me'>About Me</SectionLink>
    </h2>
    <p>
      I'm a Front-End Developer with a strong passion for problem-solving and a keen eye for detail.
      My focus is on building blazing fast, robust and responsive websites, that provide users with
      seamless experiences. I enjoy using cutting-edge technologies and continuously learning to
      enhance my skills.
    </p>
    <p>
      With 2 years of experience in front-end development, I have contributed to various open-source
      projects and worked with frameworks like React, Next.js, and Astro. I also enjoy working with
      back-end technologies and have experience with Node.js, Express and databases like PostgreSQL
      and MongoDB.
    </p>
    <p>
      I believe in continuous improvement and am always looking for new ways to grow and contribute
      to the tech community. When I'm not coding, you can find me diving deep into the wonders of
      astrophysics or enjoying beautiful iconic and high-performance cars.
    </p>
  </div>
</section>
