---
import ContactForm from '@/components/contact-form.astro';
import SectionLink from '@/components/section-link.astro';
---

<section id='contact'>
  <div class='slide-up'>
    <h2 class='text-2xl font-bold'>
      <SectionLink sectionId='contact'>Contact</SectionLink>
    </h2>
    <p>
      Feel free to get in touch with me for job opportunities, collaborations or just to say hi!
    </p>
    <p class='mb-6'>
      Enter your message below or email me directly at <a
        href='mailto:bartosz@trusinski.dev'
        class='link-primary hover:bg-primary rounded-xs px-0.5 font-medium underline transition-colors'>
        bartosz@trusinski.dev
      </a>
    </p>
    <ContactForm />
  </div>
</section>
