---
import ContactForm from '@/components/contact-form.astro';
import SectionLink from '@/components/section-link.astro';
---

<section id='contact' class='slide-up'>
  <h2 class='text-2xl font-bold'>
    <SectionLink sectionId='contact'>Contact</SectionLink>
  </h2>
  <p class='mb-6'>
    Feel free to get in touch with me for job opportunities, collaborations or just to say hi!
  </p>
  <ContactForm />
</section>
