<header id='hero'>
  <div class='slide-up space-y-6'>
    <h1 class='px-1 py-4 text-center text-3xl font-bold leading-snug sm:py-6 sm:text-4xl'>
      Hi, I'm
      <span
        class='text-nowrap underline decoration-primary decoration-wavy decoration-4 underline-offset-2'>
        Bartosz Trusiński
      </span>
      <div class='mt-2 text-2xl font-light sm:text-3xl'>Front-End Developer</div>
    </h1>
    <p>
      I'm a passionate Front-End Developer with a love for building sleek, user-friendly web
      applications.
    </p>
    <p>
      I specialize in creating beautiful and performant websites using modern technologies like
      React, TypeScript, Next.js, and Astro. I'm also open to exploring back-end development to
      build end-to-end solutions. Let's collaborate and create amazing user experiences.
    </p>
    <a
      href='#contact'
      class='mx-auto block w-max rounded bg-primary px-6 py-2 text-center font-semibold'>
      Get in Touch
    </a>
  </div>
</header>
