---
import { Icon } from 'astro-icon/components';
import { technologies } from '@/data/technologies';
import { skills } from '@/data/skills';
import SectionLink from '@/components/SectionLink.astro';
---

<section id='skills' class='slide-up'>
  <h2 class='text-2xl font-bold'>
    <SectionLink sectionId='skills'>Skills</SectionLink>
  </h2>
  <p class='mb-4'>Technologies and tools I use to build amazing web experiences</p>
  <article class='space-y-6'>
    {
      skills.map(({ title, technologyKeys }) => (
        <section>
          <h3 class='mb-1 text-lg font-semibold'>{title}</h3>
          <ul class='flex flex-wrap gap-3' role='list'>
            {technologyKeys.map((technologyKey) => {
              const technology = technologies[technologyKey];

              return (
                <li class='flex items-center gap-2 rounded-lg border px-2 py-1 shadow-md'>
                  <Icon
                    name={technology.logo}
                    class:list={['min-h-4 min-w-4 max-w-5', technology.class]}
                  />
                  {technology.name}
                </li>
              );
            })}
          </ul>
        </section>
      ))
    }
  </article>
</section>
