---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/Hero.astro';
import AboutMe from '@/components/AboutMe.astro';
import Skills from '@/components/Skills.astro';
import Projects from '@/components/Projects.astro';
import Contact from '@/components/Contact.astro';
import Footer from '@/components/Footer.astro';
---

<Layout>
  <main class='content-grid *:pb-12 *:pt-8 even:*:bg-slate-100'>
    <Hero />
    <AboutMe />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
