---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro';
import AboutMe from '@/components/sections/AboutMe.astro';
import Skills from '@/components/sections/Skills.astro';
import Projects from '@/components/sections/Projects.astro';
import Contact from '@/components/sections/Contact.astro';
import Footer from '@/components/sections/Footer.astro';
---

<Layout>
  <main class='content-grid bg-slate-50 *:pb-12 *:pt-8 even:*:bg-slate-100'>
    <Hero />
    <AboutMe />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>

<script src='../lib/scroll-animations.ts'></script>
<style is:global>
  p {
    text-align: justify;
    text-wrap: pretty;
  }

  .content-grid,
  .full-width {
    --padding-inline: 2rem;
    --content-max-width: 65ch;
    --breakout-max-width: 90ch;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    --full-width: minmax(var(--padding-inline), 1fr);
    --breakout: minmax(0, var(--breakout-size));
    --content: min(100% - var(--padding-inline) * 2, var(--content-max-width));

    display: grid;
    grid-template-columns:
      [full-width-start] var(--full-width)
      [breakout-start] var(--breakout)
      [content-start] var(--content) [content-end]
      var(--breakout) [breakout-end]
      var(--full-width) [full-width-end];

    & > :not(.breakout, .full-width) {
      grid-column: content;
    }

    & > .breakout {
      grid-column: breakout;
    }

    & > .full-width {
      grid-column: full-width;
    }
  }

  .slide-up {
    opacity: 0;
    transform: translateY(4rem);
    filter: blur(0.25rem);
    transition: all 400ms ease-out;
  }

  .slide-up.is-visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
</style>
