---
import RootLayout from '@/layouts/root-layout.astro';
import { Icon } from 'astro-icon/components';
---

<RootLayout>
  <main class='flex h-screen items-center justify-center bg-slate-200 px-6 py-2'>
    <div
      class='max-h-full w-fit max-w-sm overflow-y-auto rounded-xl bg-slate-100 p-4 pb-10 shadow-lg sm:mx-16 sm:max-w-md sm:pb-16'>
      <a href='/' class='inline'>
        <Icon name='lucide:arrow-left' class='size-8 text-primary' />
        <span class='sr-only'>Back to home</span>
      </a>
      <div class='flex flex-col items-center justify-center gap-1 px-2 md:mt-4'>
        <Icon name='lucide:mail-check' class='mb-0 text-6xl text-primary sm:text-7xl md:text-8xl' />
        <h1 class='text-balance text-center text-2xl font-bold sm:text-3xl'>
          Message has been sent
        </h1>
        <p class='text-center sm:text-lg'>
          Thank you for reaching out! I'll get back to you as soon as possible
        </p>
      </div>
    </div>
  </main>
</RootLayout>
