---
import ContactForm from '@/components/ContactForm.astro';
import Wrapper from '@/components/Wrapper.astro';
---

<section id='contact'>
  <Wrapper className='gap-2'>
    <h2 class='text-balance text-2xl font-bold'>Contact</h2>
    <p class='mb-4 text-pretty text-justify'>
      Feel free to get in touch with me for job opportunities, collaborations or just to say hi!
    </p>
    <ContactForm />
  </Wrapper>
</section>
