<form class='flex max-w-xs flex-col gap-4 justify-self-center sm:max-w-sm'>
  <div class='flex flex-col gap-4 sm:flex-row'>
    <div class='flex grow flex-col gap-1'>
      <label for='name'>Name</label>
      <input
        type='text'
        id='name'
        name='name'
        placeholder='john@doe.com'
        autocomplete='name'
        class='min-w-0 rounded-sm p-1'
        required
      />
    </div>
    <div class='flex grow flex-col gap-1'>
      <label for='email'>Email</label>
      <input
        type='email'
        id='email'
        name='email'
        placeholder='John Doe'
        autocomplete='email'
        class='min-w-0 rounded-sm p-1'
        required
      />
    </div>
  </div>
  <div class='flex grow flex-col gap-1'>
    <label for='message'>Message</label>
    <textarea
      id='message'
      name='message'
      rows='3'
      required
      placeholder='Your message here'
      class='rounded-sm p-1'></textarea>
  </div>
  <button type='submit' class='mt-2 rounded bg-primary px-2 py-1'>Send</button>
</form>
