<footer class='bg-pattern bg-slate-900 py-5 text-center'>
  <div class='mb-2 flex justify-center gap-8 text-lg font-bold'>
    <a href='#' class='rounded text-primary'>CV</a>
    <a href='https://github.com/bartosztrusinski' target='_blank' class='rounded text-primary'>
      GitHub
    </a>
    <a
      href='https://www.linkedin.com/in/bartosz-trusinski'
      target='_blank'
      class='rounded text-primary'>
      LinkedIn
    </a>
  </div>
  <p class='text-slate-300'>&copy; 2025 Bartosz Trusiński. All rights reserved.</p>
</footer>
