---
import { Icon } from 'astro-icon/components';

type Props = {
  sectionId: string;
};

const { sectionId } = Astro.props;
---

<a
  href={`#${sectionId}`}
  class='link group flex w-max items-center transition-opacity duration-150 hover:opacity-70'>
  <slot />
  <Icon
    name='lucide:link'
    class='ml-1 size-[0.75em] opacity-0 transition-opacity duration-150 group-hover:opacity-100 group-focus-visible:opacity-100'
  />
</a>
