---
import { Icon } from 'astro-icon/components';

import type { Technology } from '@/lib/types';
import SectionLink from '@/components/SectionLink.astro';

type SkillGroup = {
  title: string;
  technologies: Technology[];
};

const skillGroups: SkillGroup[] = [
  {
    title: 'Front-End',
    technologies: [
      { name: 'React', logo: 'logos:react' },
      { name: 'JavaScript', logo: 'logos:javascript' },
      { name: 'TypeScript', logo: 'logos:typescript-icon' },
      { name: 'Next.js', logo: 'logos:nextjs-icon' },
      { name: 'Astro', logo: 'logos:astro-icon' },
      { name: 'Tailwind CSS', logo: 'logos:tailwindcss-icon' },
    ],
  },
  {
    title: 'Back-End',
    technologies: [
      { name: 'Node.js', logo: 'logos:nodejs-icon' },
      { name: 'SQL', logo: 'logos:postgresql' },
      { name: 'MongoDB', logo: 'logos:mongodb-icon' },
      { name: 'Express', logo: 'simple-icons:express' },
    ],
  },
  {
    title: 'Tools',
    technologies: [
      { name: 'Git', logo: 'logos:git-icon' },
      { name: 'Webpack', logo: 'logos:webpack' },
      { name: 'Zod', logo: 'logos:zod' },
    ],
  },
];
---

<section id='skills'>
  <h2 class='text-2xl font-bold'>
    <SectionLink sectionId='skills'>Skills</SectionLink>
  </h2>
  <p class='mb-4'>Technologies and tools I use to build amazing web experiences</p>
  <div class='flow'>
    {
      skillGroups.map(({ title, technologies }) => (
        <section>
          <h3 class='mb-1 text-lg font-semibold'>{title}</h3>
          <ul class='flex flex-wrap gap-3' role='list'>
            {technologies.map(({ name, logo }) => (
              <li class='flex items-center gap-2 rounded-lg border border-solid px-2 py-1 shadow-sm'>
                <Icon name={logo} class='max-w-5' />
                {name}
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</section>
