---
import Wrapper from '@/components/Wrapper.astro';

type SkillGroup = {
  title: string;
  skills: string[];
};

const skillGroups: SkillGroup[] = [
  {
    title: 'Front-End',
    skills: ['React', 'JavaScript', 'TypeScript', 'Next.js', 'Astro.js', 'TailwindCSS'],
  },
  {
    title: 'Back-End',
    skills: ['Node.js', 'Express.js', 'SQL', 'MongoDB'],
  },
  {
    title: 'Tools',
    skills: ['Git', 'Webpack', 'Zod'],
  },
];
---

<section id='skills'>
  <Wrapper className='gap-2'>
    <h2 class='text-2xl font-bold'>Skills</h2>
    <p>Technologies and tools I use to build amazing web experiences</p>
    {
      skillGroups.map(({ skills, title }) => (
        <section class='mt-3'>
          <h3 class='mb-1 text-lg font-semibold'>{title}</h3>
          <ul class='flex flex-wrap gap-3' role='list'>
            {skills.map((s) => (
              <li class='rounded-lg border border-solid bg-slate-50 px-2 py-1 shadow-sm'>{s}</li>
            ))}
          </ul>
        </section>
      ))
    }
  </Wrapper>
</section>
