---
import Wrapper from '@/components/Wrapper.astro';
import { Icon } from 'astro-icon/components';

type SkillGroup = {
  title: string;
  skills: Skill[];
};

type Skill = {
  name: string;
  iconName: string;
};

const skillGroups: SkillGroup[] = [
  {
    title: 'Front-End',
    skills: [
      { name: 'React', iconName: 'logos:react' },
      { name: 'JavaScript', iconName: 'logos:javascript' },
      { name: 'TypeScript', iconName: 'logos:typescript-icon' },
      { name: 'Next.js', iconName: 'logos:nextjs-icon' },
      { name: 'Astro', iconName: 'logos:astro-icon' },
      { name: 'Tailwind CSS', iconName: 'logos:tailwindcss-icon' },
    ],
  },
  {
    title: 'Back-End',
    skills: [
      { name: 'Node.js', iconName: 'logos:nodejs-icon' },
      { name: 'SQL', iconName: 'logos:postgresql' },
      { name: 'MongoDB', iconName: 'logos:mongodb-icon' },
      { name: 'Express', iconName: 'simple-icons:express' },
    ],
  },
  {
    title: 'Tools',
    skills: [
      { name: 'Git', iconName: 'logos:git-icon' },
      { name: 'Webpack', iconName: 'logos:webpack' },
      { name: 'Zod', iconName: 'logos:zod' },
    ],
  },
];
---

<section id='skills'>
  <Wrapper className='gap-2'>
    <h2 class='text-balance text-2xl font-bold'>Skills</h2>
    <p>Technologies and tools I use to build amazing web experiences</p>
    {
      skillGroups.map(({ skills, title }) => (
        <section class='mt-3'>
          <h3 class='mb-1 text-lg font-semibold'>{title}</h3>
          <ul class='flex flex-wrap gap-3' role='list'>
            {skills.map(({ name, iconName }) => (
              <li class='flex items-center gap-2 rounded-lg border border-solid px-2 py-1 shadow-sm'>
                <Icon name={iconName} class='max-w-5' />
                {name}
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </Wrapper>
</section>
