---
type Props = {
  className?: string;
};

const { className = '' } = Astro.props;
---

<div class={`mx-auto grid max-w-[80ch] gap-1 text-pretty px-4 text-justify pb-8 pt-5 ${className}`}>
  <slot />
</div>
