---
import '../styles/global.css';
---

<!doctype html>
<html
  lang='en'
  class='selection:bg-primary font-dm-sans bg-slate-50 text-slate-900 [interpolate-size:allow-keywords] motion-safe:scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Bartosz Trusiński | Frontend Developer Portfolio</title>
    <meta
      name='description'
      content='Portfolio of Bartosz Trusiński - Frontend Developer specializing in modern web technologies and user-friendly applications.'
    />
    <meta name='author' content='Bartosz Trusiński' />
    <meta name='theme-color' content='#F8FAFC' />
    <meta property='og:title' content='Bartosz Trusiński | Frontend Developer Portfolio' />
    <meta
      property='og:description'
      content='Portfolio of Bartosz Trusiński - Frontend Developer specializing in modern web technologies and user-friendly applications.'
    />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://trusinski.dev' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:title' content='Bartosz Trusiński | Frontend Developer Portfolio' />
    <meta
      name='twitter:description'
      content='Portfolio of Bartosz Trusiński - Frontend Developer specializing in modern web technologies and user-friendly applications.'
    />
    <link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <script src='../lib/scroll-animations.ts'></script>
    <noscript>
      <style>
        .slide-up {
          opacity: 1 !important;
          transform: none !important;
          translate: none !important;
          scale: none !important;
          filter: none !important;
        }
      </style>
    </noscript>
  </head>
  <body>
    <slot />
  </body>
</html>
